.brand {
	width: 172px;
	max-width: calc(50vw - 30px);
	padding-bottom: 100%;
	border: 1px solid #ccc;
	position: relative;

	&__image {
		position: absolute;
		top: 16px;
		right: 16px;
		bottom: 16px;
		left: 16px;
		display: flex;
		align-content: center;
		align-items: center;
		justify-content: center;
		justify-items: center;

		img {
			display: inline-block;
			max-width: 100%;
			max-height: 100%;

			.slick-slide & {
				display: inline-block;
			}
		}
	}
	&__link {
		display: block;
		text-decoration: none;

		&:hover {
			opacity: .66;
		}
	}
}