.paragraph-brands {
	&__brands {
		margin: -30px -15px 0;
		text-align: center;

		.slick-list {
			padding: 0 !important;
		}
	}
	&__brand {
		display: inline-block;
		padding: 0 15px;
		margin-top: 30px;
	}
}