.paragraph-call-to-action {
	text-align: center;

	&__links {
		margin-top: 30px;

		&:first-child {
			margin-top: 0;
		}

		.field--item {
			display: inline-block;
			margin-right: 10px;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}