.counter {
	text-align: center;

	&__number {
		font-size: 48px;
		min-height: 1em;
		font-weight: bold;
		line-height: 1;
	}
	&__icon {
		margin-bottom: 30px;

		svg {
			font-size: 8em;
		}
	}

	.paragraph-form & {
		text-align: left;

		&__icon {
			display: none;
		}
	}
}