.paragraph-form-text {
	&__form {
		margin-bottom: 30px;

		@media only screen and (min-width: 768px) {
			margin-bottom: 0;
		}
	}
	&--form-right {
		.row {
			@media only screen and (min-width: 768px) {
				display: flex;
				flex-direction: row-reverse;
			}
		}
	}
}