.paragraph-form {
	&__form {
		max-width: 770px;
		margin-left: auto;
		margin-right: auto;
	}

	&.paragraph--view-mode--preview {
		.paragraph-form__form {
			max-width: 66.666666%;

			.field {
				text-indent: -9999px;
				font-size: 0;

				&:before {
					content: '';
					display: block;
					width: 100%;
					height: 10px;
					border: 1px solid #ccc;
					border-radius: 2px;
					background: #fff;
					margin-bottom: 5px;
				}
				&:after {
					content: '';
					display: block;
					width: 100%;
					height: 10px;
					border: 1px solid #ccc;
					border-radius: 2px;
					background: #fff;
					margin-bottom: 5px;
				}
			}
			&:before {
				content: '';
				display: block;
				width: 100%;
				height: 10px;
				border: 1px solid #ccc;
				border-radius: 2px;
				background: #fff;
				margin-bottom: 5px;
			}
			&:after {
				content: '';
				display: block;
				width: 100%;
				height: 40px;
				border: 1px solid #ccc;
				border-radius: 2px;
				background: #fff;
			}
		}
	}
}