.paragraph-gallery {
	&__images {
		&--grid {
			column-gap: 15px;
			column-count: 3;

			.paragraph-gallery__images-item {
				margin-bottom: 15px;
			}
		}
		&--column {
			&-one {
				column-count: 1;
			}
			&-two {
				column-count: 2;
			}
			&-three {
				column-count: 3;
			}
			&-four {
				column-count: 4;
			}
			&-five {
				column-count: 5;
			}
			&-six {
				column-count: 6;
			}
		}
		&--slider {
			max-width: 770px;
			margin-left: auto;
			margin-right: auto;


		}
		&-item {
			width: 100%;

			video {
				width: 100%;
				height: auto;
			}
		}
	}
}