.paragraph-image-text {
	&__image {
		margin-bottom: 30px;

		@media only screen and (min-width: 768px) {
			margin-bottom: 0;
		}
	}
	&__slider {
		margin-bottom: 30px;

		@media only screen and (min-width: 768px) {
			margin-bottom: 0;
		}

		&-image {
			position: relative;

			&:before,
			&:after {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				width: 64px;
				z-index: 2;
			}

			&:before {
				left: 0;
				background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .25));
			}
			&:after {
				right: 0;
				background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .25));
			}
		}
	}

	&__text {
		&-column {
			&--float {
				padding: 0 15px;
			}
		}
	}

	&--image-right {
		&.paragraph-image-text--align-column {
			.row {
				@media only screen and (min-width: 768px) {
					display: flex;
					flex-direction: row-reverse;
				}
			}
		}
		&.paragraph-image-text--align-float {
			.paragraph-image-text__image-column {
				float: right;
			}
		}
	}
}