.paragraph-map {
	padding: 0;

	&__map {
		height: 400px;
		background: #f0f0f0;
		position: relative;

		iframe,
		#map {
			border: none;
			width: 100%;
			height: 100%;
			position: relative;
			z-index: 3;
		}
		.no-cookies {
			position: absolute;
			z-index: 4;
			width: 100%;
			max-width: 1200px;
			padding: 0 15px;
			left: 50%;
			transform: translateX(-50%);
			bottom: 30px;
			text-align: center;
		}

		&--no-cookies {
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				margin-left: -46px;
				margin-top: -30px;
				width: 0;
				height: 0;
				border-left: 46px solid transparent;
				border-right: 46px solid transparent;
				border-top: 100px solid #ccc;
			}
			&:after {
				content: '';
				position: absolute;
				z-index: 2;
				top: 50%;
				left: 50%;
				margin-top: -101px;
				margin-left: -50px;
				width: 100px;
				height: 100px;
				background: #f0f0f0;
				border: 30px solid #ccc;
				border-radius: 99px;
			}
		}
	}
}