.paragraph-persons {
	&__persons {
		display: flex;
		flex-wrap: wrap;
		align-content: stretch;
		align-items: stretch;
		margin: 0 -15px;
	}
	&__person {
		padding: 0 15px;
		width: 100%;
		margin-bottom: 30px;

		@media only screen and (min-width: 640px) {
			width: 50%;
		}
		@media only screen and (min-width: 960px) {
			width: 25%;
		}
	}
}