.person {
	margin-bottom: 30px;
	text-align: center;
	
	&__image {
		border-radius: 99px;
		overflow: hidden;
		margin-bottom: 20px;
		max-width: 200px;
		margin-left: auto;
		margin-right: auto;
	}
	&__name {
		font-weight: bold;
	}
	&__function {
		margin-top: 10px;
	}
	&__links {
		margin-top: 10px;
	}
}