.paragraph-quotes {
	&__quotes {
		&--grid {
			display: flex;
			align-content: stretch;
			align-items: stretch;
			flex-wrap: wrap;
			margin: 0 -15px;
		}
	}
	&__quote {
		&--grid {
			width: 100%;
			padding: 0 15px;

			@media only screen and (min-width: 640px) {
				width: 50%;
			}
			@media only screen and (min-width: 960px) {
				width: 33.333333%;
			}
		}
	}
}