.social-links {
	.field--item {
		display: inline-block;
		margin-right: 5px;
	}
	a {
		display: inline-block;
		width: 24px;
		height: 24px;
		text-indent: -9999px;
		background-size: 24px 24px;
		background-repeat: no-repeat;
		background-position: center center;
		border-radius: 99px;
		background-color: #0c1d3e;
		background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="#fff" d="M9.9 16.7l-.8.8c-.7.7-1.8.7-2.5 0-.4-.3-.6-.8-.6-1.3s.2-.9.5-1.3l3-3c.6-.6 1.8-1.5 2.6-.7.4.4 1 .4 1.4 0 .4-.4.4-1 0-1.4-1.4-1.4-3.6-1.2-5.4.7l-3 3c-.7.8-1.1 1.7-1.1 2.7s.4 1.9 1.1 2.7c.7.7 1.7 1.1 2.7 1.1 1 0 1.9-.4 2.7-1.1l.8-.8c.4-.4.4-1 0-1.4-.4-.4-1.1-.4-1.4 0zm9-11.5c-1.5-1.5-3.7-1.6-5.1-.2l-1 1c-.4.4-.4 1 0 1.4.4.4 1 .4 1.4 0l1-1c.7-.7 1.7-.4 2.3.2.3.4.5.8.5 1.3s-.2.9-.5 1.3l-3.2 3.2c-1.5 1.4-2.1.8-2.4.5-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4.7.7 1.4 1 2.2 1 1 0 2-.5 3-1.5l3.2-3.2c.7-.8 1.1-1.7 1.1-2.7 0-1-.4-2-1.1-2.7z"/></svg>');
		
		&:hover {
			opacity: 0.75;
		}

		&[href*="facebook"] {
			background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="#fff" d="M14 3c-2.2 0-4 1.8-4 4v3h-2v3h2v8h3v-8h2.5l.5-3h-3v-3c0-.6.4-1 1-1h2v-3h-2z"/></svg>');
		}
		&[href*="twitter"] {
			background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="#fff" d="M14.9 5.738c-1.7 0-3.1 1.4-3.1 3.1 0 .2 0 .5.1.7-2.6-.1-4.9-1.4-6.5-3.3-.3.5-.4 1-.4 1.6 0 1.1.6 2.1 1.4 2.6-.5 0-1-.2-1.4-.4 0 1.5 1.1 2.8 2.5 3.1-.3.1-.5.1-.8.1-.2 0-.4 0-.6-.1.4 1.3 1.6 2.2 2.9 2.2-1.1.8-2.4 1.3-3.9 1.3h-.8c1.4.9 3.1 1.4 4.8 1.4 5.8 0 9-4.8 9-9v-.4c.6-.4 1.1-1 1.6-1.6-.6.3-1.2.4-1.8.5.7-.4 1.2-1 1.4-1.7-.6.4-1.3.6-2 .8-.6-.5-1.4-.9-2.4-.9z"/></svg>');
		}
		&[href*="instagram"] {
			background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="#fff" d="M12 16c-2.2 0-4-1.8-4-4s1.8-4 4-4 4 1.8 4 4-1.8 4-4 4zm0-6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/><circle fill="#fff" cx="16" cy="8" r="1"/><path fill="#fff" d="M15.6 6c1.3 0 2.4 1.1 2.4 2.4v7.1c0 1.4-1.1 2.4-2.4 2.4h-7.2c-1.3.1-2.4-1-2.4-2.3v-7.2c0-1.3 1.1-2.4 2.4-2.4h7.2m0-2h-7.2c-2.4 0-4.4 2-4.4 4.4v7.1c0 2.5 2 4.5 4.4 4.5h7.1c2.5 0 4.4-2 4.4-4.4v-7.2c.1-2.4-1.9-4.4-4.3-4.4z"/></svg>');
		}
		&[href*="linkedin"] {
			background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="#fff" d="M19 17v-4.5c0-2.5-1.7-3.6-3.4-3.6-1.4 0-2.2.8-2.6 1.3v-1.2h-3v8h3v-4.4c0-.2 0-.6.1-.7.2-.5.7-.9 1.4-.9 1 0 1.5.7 1.5 1.8v4.2h3zM7.5 8c.9 0 1.5-.6 1.5-1.4 0-.8-.6-1.4-1.5-1.4s-1.5.6-1.5 1.4c0 .8.6 1.4 1.5 1.4zM6 9h3v8h-3z"/></svg>');
		}
		&[href*="pinterest"] {
			background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="#fff" d="M12.5 4c-5.7 0-8.5 4-8.5 7.4 0 2 .8 3.8 2.4 4.5.3.1.5 0 .6-.3.1-.2.2-.7.2-.9.1-.3 0-.4-.2-.7-.5-.6-.8-1.3-.8-2.3 0-3 2.2-5.7 5.8-5.7 3.2 0 4.9 1.9 4.9 4.5 0 3.4-1.5 6.3-3.8 6.3-1.2 0-2.2-1-1.9-2.3.4-1.5 1-3.1 1-4.2 0-1-.5-1.8-1.6-1.8-1.3 0-2.3 1.3-2.3 3.1 0 1.1.4 1.9.4 1.9s-1 5.5-1.2 6.4c-.4 1.5-.2 3.3-.1 4.1h.7c.5-.7 1.4-2 1.8-3.4.1-.5.8-3.2.8-3.2.4.8 1.6 1.5 2.9 1.5 3.8 0 6.4-3.5 6.4-8.1 0-3.5-3-6.8-7.5-6.8z"/></svg>');
		}
		&[href*="youtube"] {
			background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="#fff" d="M19.8 8.6s-.2-1.2-.6-1.7c-.6-.7-1.3-.7-1.6-.7-2.2-.2-5.6-.2-5.6-.2s-3.4 0-5.6.2c-.3 0-1 0-1.6.7-.5.5-.6 1.7-.6 1.7s-.2 1.4-.2 2.8v1.3c0 1.4.2 2.8.2 2.8s.2 1.2.6 1.7c.6.7 1.4.7 1.8.7 1.2.1 5.4.1 5.4.1s3.4 0 5.6-.2c.3 0 1 0 1.6-.7.5-.5.6-1.7.6-1.7s.2-1.4.2-2.8v-1.3c0-1.3-.2-2.7-.2-2.7zm-9.8 6.4v-6l5 3-5 3z"/></svg>');
		}
		&[href^="mailto:"] {
			background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="#fff" d="M8.1,12.1L4,15V9L8.1,12.1z M20,7.5C20,6.7,19.3,6,18.4,6H5.6C4.7,6,4,6.7,4,7.5l8,6L20,7.5z M12,15l-2.9-2.2L4,16.5 C4,17.3,4.7,18,5.6,18h12.8c0.9,0,1.6-0.7,1.6-1.5l-5.1-3.7L12,15z M20,15V9l-4.1,3.1L20,15z"/></svg>');
		}
	}
}
