.paragraph-text {
	&__text {
		&--columns {
			&-two {
				@media only screen and (min-width: 640px) {
					columns: 2;
					column-gap: 30px;
				}
			}
			&-three {
				@media only screen and (min-width: 640px) {
					columns: 3;
					column-gap: 30px;
				}
			}
			&-four {
				@media only screen and (min-width: 640px) {
					columns: 2;
					column-gap: 30px;
				}
				@media only screen and (min-width: 960px) {
					columns: 4;
				}
			}
		}
	}
}