.paragraph-text-columns {
	&__text {
		display: flex;
		flex-wrap: wrap;
		align-content: stretch;
		align-items: stretch;
		margin: -30px -15px 0;
	}
	&__column {
		padding: 0 15px;
		width: 100%;
		margin-top: 30px;

		&--columns {
			&-two {
				@media only screen and (min-width: 640px) {
					width: 50%;
				}
			}
			&-three {
				@media only screen and (min-width: 640px) {
					width: 33.333333%;
				}
			}
			&-four {
				@media only screen and (min-width: 640px) {
					width: 50%;
				}
				@media only screen and (min-width: 960px) {
					width: 25%;
				}
			}
			&-five {
				@media only screen and (min-width: 640px) {
					width: 50%;
				}
				@media only screen and (min-width: 960px) {
					width: 20%;
				}
			}
		}
	}
}