.paragraph-video-text {
	&__video {
		margin-bottom: 30px;

		@media only screen and (min-width: 768px) {
			margin-bottom: 0;
		}

		video {
			width: 100%;
			height: auto;
		}
	}
	&__text {
		&-column {
			&--float {
				padding: 0 15px;
			}
		}
	}
	&--video-right {
		&.paragraph-video-text--align-column {
			.row {
				@media only screen and (min-width: 768px) {
					display: flex;
					flex-direction: row-reverse;
				}
			}
		}
		&.paragraph-video-text--align-float {
			.paragraph-video-text__video-column {
				float: right;
			}
		}
	}
}