.paragraph-video {
	&__video {
		max-width: 770px;
		margin-left: auto;
		margin-right: auto;

		video {
			width: 100%;
			height: auto;
		}
	}
	&__caption {
		margin-top: 10px;
		text-align: center;
	}
}