@import 'functions';

.paragraph {
	@for $i from 0 through 15 {
		// Increment in steps of 10
		$padding: $i*10;

		&--padding-bottom-#{$padding} {
			padding-bottom: #{$padding}px !important;
		}
	}

	&--view-mode--default {
		padding: 60px 0;
	}
	&:after {
		content: ' ';
		display: table;
		clear: both;
	}

	// Sidebar adjustments
	.col-sm-9 &,
	.col-sm-8 & {
		& > .container {
			padding-left: 0;
			padding-right: 0;
		}
		.col-md-8.col-md-offset-2 {
			width: 100%;
			margin-left: 0;
		}
		&--background-white:first-child {
			padding-top: 0;
		}
	}

	// Title margins
	&--background-white:not(:first-child) {
		.paragraph__title {
			margin-top: 30px;
		}
	}

	// Background colors
	&--background {
		&-primary {
			& + .paragraph--background-primary {
				padding-top: 0;
			}
		}
		&-secondary {
			& + .paragraph--background-secondary {
				padding-top: 0;
			}
		}
		&-white {
			background: #fff;

			& + .paragraph--background-white {
				padding-top: 0;
			}
		}
		&-grey {
			background: #f0f0f0;

			& + .paragraph--background-grey {
				padding-top: 0;
			}
		}
	}

	&__title {
		margin-top: 0;
		margin-bottom: 30px;

		&--align-left {
			text-align: left;
		}
		&--align-center {
			text-align: center;
		}
		&--align-right {
			text-align: right;
		}
	}
}

@import 'accordion';
@import 'brand';
@import 'brands';
@import 'call-to-action';
@import 'callout';
@import 'card';
@import 'cards';
@import 'counter';
@import 'counters';
@import 'dynamic-content';
@import 'form';
@import 'form-text';
@import 'gallery';
@import 'image';
@import 'image-text';
@import 'map';
@import 'person';
@import 'persons';
@import 'quotes';
@import 'social-links';
@import 'tabs';
@import 'text';
@import 'text-columns';
@import 'usp';
@import 'usp-text';
@import 'video';
@import 'video-text';