&:after {
	content: attr(data-bundle);
	font-family: Arial, sans-serif !important;
	position: absolute;
	top: 10px;
	left: 10px;
	padding: 0 16px;
	line-height: 56px;
	font-size: 14px;
	font-weight: bold;
	background: $color-primary;
	box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.1);
	color: #fff;
	border-radius: 4px;
	display: none;
	z-index: 5;
}
&:hover:after {
	display: block;
}