@keyframes paragraphLoading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

&.ui-resizable {
	.ui-resizable-handle {
		bottom: 0;
		height: 5px;
		visibility: hidden;
		background: repeating-linear-gradient(to right, rgba(0, 0, 0, .3) 0, rgba(0, 0, 0, .3) 10px, transparent 10px, transparent 20px);

		&:before {
			content: attr(data-padding);
			font-family: Arial, sans-serif !important;
			position: absolute;
			left: 15px;
			bottom: -20px;
			width: 48px;
			height: 48px;
			line-height: 46px;
			text-align: center;
			background: #fff;
			border: 1px solid #ccc;
			border-radius: 4px;
			overflow: hidden;
			box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.1);
			font-weight: bold;
			display: none;
			z-index: 92;
		}
	}
}
&.ui-resizable:hover,
&.ui-resizable-resizing {
	@extend .paragraph--view-mode--default:hover;

	.ui-resizable-handle {
		visibility: visible;
	}
}
&.ui-resizable-resizing {
	.ui-resizable-handle:before {
		display: block;
	}
	& + .paragraph:hover {
		pointer-events: none;

		.ui-resizable-handle {
			visibility: hidden;
		}
	}
}
&.loading {
	position: relative;

	& > * {
		opacity: .3;
		pointer-events: none;
	}

	&:after {
		content: '';
		display: block;
		width: 50px;
		height: 50px;
		position: absolute;
		opacity: 1;
		top: 50%;
		left: 50%;
		margin: 1px 1px 1px -25px;
		border-radius: 50%;
		border: 5px solid #fff;
		border-color: rgba(0, 0, 0, .5)transparent rgba(0, 0, 0, .5) transparent;
		animation: paragraphLoading 1.2s linear infinite;
		z-index: 99999;
		background: transparent;
		box-shadow: none;
	}
}