&.vb-paragraphs-add-above,
&.vb-paragraphs-add-below,
&.vb-paragraphs-add-initial,
&.vb-paragraphs-add {
	margin: 0 -10px;

	.contextual {
		display: none;
	}
	.paragraph-wrapper {
		&--hide {
			width: 0;
			height: 0;
			border: none;
			box-shadow: none !important;
			margin: 0 !important;
			overflow: hidden;
			position: absolute;
		}
	}

	// Paragraph previews
	//& > .form-group > .form-group {
	& > .form-group {
		width: 310px;
		height: 310px;
		float: left;
		border: 1px solid #e5e5e5;
		margin: 0 10px 20px;
		position: relative;
		overflow: hidden;

		@media only screen and (min-width: 1500px) {
			width: 442px;
			height: 360px;
		}

		& > h3,
		& > .field--name-label {
			font-weight: bold;
			background: #f0f0f0;
			border-bottom: 1px solid #e5e5e5;
			padding: 10px;
			text-align: center;
			font-size: 15px;
			font-family: Arial, sans-serif !important;
		}
		& > .field--name-paragraphs {
			max-height: 260px;
			overflow: hidden;
		}

		.paragraph {
			width: 1100px;
			padding: 30px;
			transform: scale(0.28);
			transform-origin: top left;
			pointer-events: none;

			@media only screen and (min-width: 1500px) {
				transform: scale(0.4);
			}
		}
		.form-submit {
			position: absolute;
			bottom: 10px;
			left: 50%;
			transform: translateX(-50%);
			z-index: 3;

		}
	}

	// Categories
	& > fieldset[id^="edit-categories"] {
		padding: 0 10px;
		margin-bottom: 10px;

		& > legend,
		& > .fieldset-wrapper {
			float: left;
			width: auto;
		}
		& > legend {
			font-weight: bold;
			font-size: 14px;
			padding: 10px 10px 10px 0;
		}

		.form-item {
			float: left;
			margin: 0 10px 10px 0 !important;

			.form-radio {
				display: none !important;

				&:checked + .control-label.option {
					background: #0180ef;
					color: #fff !important;
				}
			}
			.control-label.option {
				background: #f0f0f0;
				font-weight: bold !important;
				padding: 10px 20px;
				border-radius: 99px;
				margin-bottom: 0 !important;

				&:hover {
					background: darken(#f0f0f0, 10%);
				}
			}
		}
		&:after {
			content: ' ';
			display: table;
			clear: both;
		}
	}
}