&.paragraph-counters-content-form {
	.field--name-field-count-from,
	.field--name-field-count-to,
	.field--name-field-suffix {
		float: left;
		width: calc(33.333333% - 10px);

		.form-control {
			width: 100%;
		}
	}
	.field--name-field-count-from,
	.field--name-field-count-to {
		margin-right: 15px;
	}
	.field--name-field-text {
		clear: both;
	}

	.field--name-field-counters {
		.field--name-field-text {
			display: inline;

			p,
			h2,
			h3,
			h4 {
				display: inline;
				font-size: 14px !important;
			}
		}
	}

}