.form-item {
	margin-bottom: 20px;
	letter-spacing: 0 !important;
	text-transform: none !important;
	line-height: 1.4 !important;
	font-family: Arial, sans-serif !important;

	&.form-item-status-value {
		margin-top: 10px !important;
	}
	&.form-type-checkbox,
	&.form-type-radio {
		input {
			display: block !important;
			margin-top: 5px !important;
			opacity: 1 !important;
			width: 13px !important;
			height: 13px !important;
		}
		label {
			&:before,
			&:after {
				content: none !important;
			}
		}
	}
	.control-label {
		font-weight: bold !important;
		color: #333 !important;
		font-size: 14px !important;
		margin-bottom: 5px !important;
		letter-spacing: 0 !important;
		text-transform: none !important;
		line-height: 1.4 !important;
		font-family: Arial, sans-serif !important;

		&.option {
			font-weight: normal !important;
			padding-left: 20px !important;
			font-size: 15px !important;
		}
	}
	.form-control {
		background: #fff 	!important;
		border: 1px solid #ccc !important;
		color: #333 !important;
		height: 40px !important;
		appearance: auto !important;
		font-size: 15px !important;

		&:focus {
			box-shadow: none;
			border-color: $color-primary !important;
		}
	}
	input.form-radio,
	input.form-checkbox {
		margin: 2px 0 0;
	}
	&.form-inline {
		.control-label {
			display: block;
			margin-bottom: 5px;
		}
	}
	.form-textarea-wrapper {
		clear: both;
	}
	&.form-item-field-media-images-actions-bundle {
		margin-bottom: 0;
	}
	&.panel {
		background: #fff !important;
		color: inherit;
		border: none;
		box-shadow: none;
		color: #333 !important;

		.panel-body {
			color: #333 !important;
		}

		.panel-heading {
			padding: 0;
			margin-bottom: 5px;
			background: transparent;
			border: none;
			font-weight: bold;
		}
		.panel-title {
			font-size: inherit;
			padding: 0;
			margin: 0;
		}
		.panel-body {
			padding: 0;
		}
	}
	.ajax-progress.ajax-progress-throbber {
		position: static !important;
	}
	.description {
		font-size: 12px !important;
	}
}
