.ief-entity-table,
.field-multiple-table {
	border: none !important;
	border-collapse: separate;

	th {
		background: #f0f0f0 !important;
		color: #333 !important;
		border: none;
		padding: 8px !important;
		text-align: left !important;
	}
	td,
	tr {
		background: transparent !important;
		color: #333 !important;
		padding: 8px !important;
	}
	tr:first-child {
		td {
			border-top: none;
		}
	}
	td {
		text-align: left !important;
		border-left: none !important;
		border-right: none !important;
		border-bottom: none !important;
		border-top: 1px solid #f0f0f0 !important;

		& > div > .form-group {
			margin: 0;
		}
	}
	.draggable > td > .form-item {
		margin-top: 20px;
	}
	.paragraph-type-top {
		float: right;
		margin-bottom: 5px;
		margin-top: 5px;
		position: relative;
		z-index: 99;
	}
	.paragraph-type-title {
		display: none;
	}
	.dropbutton {
		padding: 0;
		margin: 0;
		list-style: none;

		li {
			display: inline-block;

			& + li {
				margin-left: 5px;
			}
		}
	}
	.paragraph {
		float: left;
	}
	.messages {
		clear: both;

		&--warning {
			color: #8a6d3b;
			background-color: #fcf8e3;
			padding: 15px;
			border: 1px solid #faebcc;
			border-radius: 4px;
		}
	}
}
.ief-tabledrag-handle,
.field-multiple-drag {
	width: 40px;
	padding-right: 0;
}
.tabledrag-toggle-weight {
	display: none;
}