.modal {
	z-index: 9998 !important;
	letter-spacing: 0 !important;
	text-transform: none !important;
	line-height: 1.4 !important;
	font-family: Arial, sans-serif !important;

	&#drupal-modal {
		z-index: 9999 !important;
		max-width: 1020px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	&-dialog {
		width: 100% !important;
	}
	&-content {
		margin-left: auto;
		margin-right: auto;
		z-index: 99999 !important;
	}
	&-header {
		background: $color-primary;

		.close {
			position: static;

			&:hover {
				background: transparent !important;
			}
		}
	}
	&-title {
		color: #fff;
		font-weight: bold !important;
		font-size: 18px !important;
		letter-spacing: 0 !important;
		text-transform: none !important;
		line-height: 1.4 !important;
		font-family: Arial, sans-serif !important;
	}
	&-body {
		overflow: auto !important;
		height: 100%;
	}
	&-footer {
		background: #f0f0f0;
	}
	&-backdrop {
		z-index: 5040;
	}

	@media only screen and (min-width: 1500px) {
		&[id^="drupal-dialog-vb-paragraphsadd"] {
			width: 1420px !important;
			max-width: 90vw;
			left: 50% !important;
			margin-left: -710px;

			.modal-content {
				width: 100% !important;
			}
		}
	}

	// Components
	@import "modal/elements";
	@import "modal/button";
}
