{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @ingroup templates
 *
 * @see template_preprocess_field()
 */
#}
{%
  set classes = [
    'accordion',
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{%
  set title_classes = [
    'field--label',
    label_display == 'visually_hidden' ? 'sr-only',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  <div class="panel-group" id="accordion-{{ element['#object'].id() }}" role="tablist" aria-multiselectable="true">
    {% for item in items %}
      <div class="panel panel-default">
        <div class="panel-heading" role="tab">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion-{{ element['#object'].id() }}" href="#{{ item.content['#paragraph'].get('field_title').value|clean_id }}" aria-expanded="{{ loop.first ? 'true' : 'false' }}" aria-controls="{{ item.content['#paragraph'].get('field_title').value|clean_id }}">
              {{ item.content['#paragraph'].get('field_title').value }}
            </a>
          </h4>
        </div>
        <div id="{{ item.content['#paragraph'].get('field_title').value|clean_id }}" class="panel-collapse collapse{{ loop.first ? ' in' : '' }}" role="tabpanel">
          <div class="panel-body">
            {{ item.content['#paragraph'].get('field_text')|view }}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>