{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph-image-text',
    paragraph.field_align.value ? 'paragraph-image-text--image-' ~ paragraph.field_align.value,
    paragraph.field_align_style.value ? 'paragraph-image-text--align-' ~ paragraph.field_align_style.value : 'paragraph-image-text--align-column',
    paragraph.field_background.value ? 'paragraph--background-' ~ paragraph.field_background.value : 'paragraph--background-white',
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished' : 'paragraph--published'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {{ content.contextual_links }}
    <div class="container">
      {% if paragraph.field_title.value %}
        <h2 class="paragraph__title paragraph-image-text__title paragraph__title--align-{{ paragraph.field_title_align.getValue() ? paragraph.field_title_align.value : 'left' }}">
          {{ paragraph.field_title.value }}
        </h2>
      {% endif %}
      <div class="row">
        {% set width_attributes = create_attribute() %}
        {%
          set width_classes = [
            'paragraph-image-text__image-column',
            paragraph.field_align.value ? 'paragraph-image-text__image-column--' ~ paragraph.field_align.value,
            paragraph.field_size.value == 'small' ? 'col-md-4',
            paragraph.field_size.value == 'medium' ? 'col-md-6',
            paragraph.field_size.value == 'large' ? 'col-md-8',
            paragraph.field_size.value is empty ? 'col-md-6'
          ]
        %}
        <div{{ width_attributes.addClass(width_classes) }}>
          {% if paragraph.field_media_images|length > 1 %}
            {{ attach_library('vb_paragraphs/slick') }}
            {{ attach_library('vb_paragraphs/slider') }}
            <div class="paragraph-image-text__slider">
              {% for index, image in paragraph.field_media_images %}
                <figure class="paragraph-image-text__slider-image">
                  {{ content.field_media_images[index] }}
                </figure>
              {% endfor %}
            </div>
          {% elseif paragraph.field_media_images %}
            <figure class="paragraph-image-text__image">
              {{ content.field_media_images }}
            </figure>
          {% endif %}
        </div>
        {% set width_attributes = create_attribute() %}
        {%
          set width_classes = [
            'paragraph-image-text__text-column',
            paragraph.field_align_style.value ? 'paragraph-image-text__text-column--' ~ paragraph.field_align_style.value,
            paragraph.field_size.value == 'small' and paragraph.field_align_style.value != 'float' ? 'col-md-8',
            paragraph.field_size.value == 'medium' and paragraph.field_align_style.value != 'float' ? 'col-md-6',
            paragraph.field_size.value == 'large' and paragraph.field_align_style.value != 'float' ? 'col-md-4',
            paragraph.field_size.value is empty and paragraph.field_align_style.value != 'float' ? 'col-md-6'
          ]
        %}
        <div{{ width_attributes.addClass(width_classes) }}>
          <div class="paragraph-image-text__text">
            {{ content.field_text }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock paragraph %}
