{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph-form-text',
    paragraph.field_align.value ? 'paragraph-form-text--form-' ~ paragraph.field_align.value,
    paragraph.field_background.value ? 'paragraph--background-' ~ paragraph.field_background.value : 'paragraph--background-white',
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished' : 'paragraph--published'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {{ content.contextual_links }}
    <div class="container">
      {% if paragraph.field_title.value %}
        <h2 class="paragraph__title paragraph-form-text__title">
          {{ paragraph.field_title.value }}
        </h2>
      {% endif %}
      <div class="row">
        {% set width_attributes = create_attribute() %}
        {%
          set width_classes = [
            paragraph.field_size.value == 'small' ? 'col-md-4',
            paragraph.field_size.value == 'medium' ? 'col-md-6',
            paragraph.field_size.value == 'large' ? 'col-md-8',
            paragraph.field_size.value is empty ? 'col-md-6'
          ]
        %}
        <div{{ width_attributes.addClass(width_classes) }}>
          <div class="paragraph-form-text__form">
            <div class="form-item form-type-textfield">
              <label class="control-label">Name</label>
              <input class="form-text form-control" type="text" name="placeholder1" value="" size="60" maxlength="255">
            </div>
            <div class="form-item form-type-email">
              <label class="control-label form-required">Email</label>
              <input class="form-email form-control" type="email" name="placeholder2" value="" size="60" maxlength="254">
              </div>
            <div class="form-item form-type-textarea">  
              <label class="control-label">Message</label>
              <div class="form-textarea-wrapper">
                <textarea class="form-textarea required form-control resize-vertical" name="placeholder3" rows="5" cols="60"></textarea>
              </div>
            </div>
            <div>
              <button class="btn-primary btn" name="placeholder4" value="Send message">Send message</button>
            </div>
          </div>
        </div>
        {% set width_attributes = create_attribute() %}
        {%
          set width_classes = [
            paragraph.field_size.value == 'small' ? 'col-md-8',
            paragraph.field_size.value == 'medium' ? 'col-md-6',
            paragraph.field_size.value == 'large' ? 'col-md-4',
            paragraph.field_size.value is empty ? 'col-md-6'
          ]
        %}
        <div{{ width_attributes.addClass(width_classes) }}>
          <div class="paragraph-form-text__text">
            {{ content.field_text }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock paragraph %}
