{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('vb_paragraphs/colorbox') }}
{{ attach_library('vb_paragraphs/gallery') }}
{% if paragraph.field_gallery_style.value == 'slider' %}
  {{ attach_library('vb_paragraphs/slick') }}
{% endif %}
{%
  set classes = [
    'paragraph',
    'paragraph-gallery',
    paragraph.field_gallery_style.value ? 'paragraph-gallery--style-' ~ paragraph.field_gallery_style.value : 'paragraph-gallery--style-grid',
    paragraph.field_background.value ? 'paragraph--background-' ~ paragraph.field_background.value : 'paragraph--background-white',
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished' : 'paragraph--published'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {{ content.contextual_links }}
    <div class="container">
      {% if paragraph.field_title.value %}
        <h2 class="paragraph__title paragraph-gallery__title paragraph__title--align-{{ paragraph.field_title_align.getValue() ? paragraph.field_title_align.value : 'left' }}">
          {{ paragraph.field_title.value }}
        </h2>
      {% endif %}
      {% set gallery_attributes = create_attribute() %}
      {%
        set gallery_classes = [
          'paragraph-gallery__images',
          paragraph.field_gallery_style.value ? 'paragraph-gallery__images--' ~ paragraph.field_gallery_style.value : 'paragraph-gallery__images--grid',
          paragraph.field_columns.value and paragraph.field_gallery_style.value and paragraph.field_gallery_style.value != 'slider' ? 'paragraph-gallery__images--column-' ~ paragraph.field_columns.value
        ]
      %}
      <div{{ gallery_attributes.addClass(gallery_classes) }}>
      {% for index, image in paragraph.field_media_images %}
        <div class="paragraph-gallery__images-item paragraph-gallery__images-item--{{ image.entity.bundle() }}">
          {% if paragraph.field_gallery_style.value == 'slider' %}
            {{ content.field_media_images[index] }}
          {% else %}
            {% if image.entity.bundle() == 'image' %}
              <a href="{{ image.entity.field_media_image.entity.uri.value|image_style('extralarge') }}" class="colorbox" rel="gallery[{{ paragraph.id() }}]">
                {{ content.field_media_images[index] }}
              </a>
            {% else %}
              {{ content.field_media_images[index] }}
            {% endif %}
          {% endif %}
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
{% endblock paragraph %}
