.btn {
	padding: 5px 10px;
	height: 40px !important;
	background: #f0f0f0 !important;
	color: #333 !important;
	font-size: 14px !important;
	border-radius: 0 !important;
	text-decoration: none !important;
	border: none !important;
	letter-spacing: 0 !important;
	text-transform: none !important;
	line-height: 1.4 !important;
	font-family: Arial, sans-serif !important;
	
	&:hover,
	&:active,
	&:focus,
	&:active:hover,
	&:active:focus {
		background: darken(#f0f0f0, 10%) !important;
		color: #333 !important;
	}

	&-default {
		padding: 5px 10px;
		background: #f0f0f0 !important;
		color: #333 !important;
		font-size: 14px !important;
		border-radius: 0 !important;
		text-decoration: none !important;
		border: none !important;

		&:hover,
		&:active,
		&:focus,
		&:active:hover,
		&:active:focus {
			background: darken(#f0f0f0, 10%) !important;
			color: #333 !important;
		}
	}
	&-success,
	&-primary {
		background: $color-primary !important;
		color: #fff !important;

		&:hover,
		&:active,
		&:focus,
		&:active:hover,
		&:active:focus {
			background: darken($color-primary, 10%) !important;
			color: #fff !important;
		}
	}
	&-danger {
		background: #de0000 !important;
		color: #fff !important;

		&:hover,
		&:active,
		&:focus,
		&:active:hover,
		&:active:focus {
			background: darken(#de0000, 10%) !important;
			color: #fff !important;
		}
	}
	.ajax-throbber {
		margin-left: 10px;
	}
}
.modal-footer .ui-dialog-titlebar-close {
	@extend .btn-default;
	background-color: #fff !important;
}